.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: 100%;
}

.container header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 14px;
  font-weight: bold;
}

.container header>p:first-of-type {
  color: var(--blue);
}

.container header>p:nth-of-type(2) {
  color: var(--purple);
}

.badge {
  width: 24px;
  height: 19px;
  padding: 2px 8px;

  font-size: 12px;
  border-radius: 999px;
  background-color: var(--gray-400);
  color: var(--gray-100);
}

.container ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  margin-top: 25px;
}

.empty {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  color: var(--gray-300);
  margin-top: 64px;
}

.empty strong {
  margin-top: 16px;
}